body {
  background-image: url(../images/background1.jpg);
  height: 90vh;
  /* width: 90vw; */
  font-family: 'MedievalSharp', cursive;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  /* if I want to remove the margin to the left of the deck add a width and height of 100% */
}
.redDeck{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

#playerScore {
  font-size: 26px;
  background-color: white;
  border: 5px inset #774c29;
  opacity: 90%;
  font-weight: bold;
}

#computerScore {
  font-size: 26px;
  background-color: white;
  border: 5px inset #774c29;
  opacity: 90%;
  font-weight: bold;
}

.container2 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.container3 {
display: flex;
align-items: flex-start;
justify-content: flex-end;
} 

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #202d7a;
}

.card.shadow {
  box-shadow: 7px 7px 7px 5px rgba(41, 41, 41, 0.95) !important;
}

.card.winner {
border-radius: 100%;
border-color: green;
}


.btn {
  margin-top: 2vh;
  color: white;
  background-color: #a86206;
  font-weight: bold;
  border: 5px outset #774c29;
}

.resetBtn {
  margin-top: 2vh;
  color: white;
  background-color: red;
  font-weight: bold;
  border: 5px outset black;
  display: flex;
  
}

.audioBtn{
  margin-top: 2vh;
  color: white;
  background-color: rgb(8, 156, 241);
  font-weight: bold;
  border: 5px outset black;
  display: flex;
}

.message{
  display: flex;
  margin-top: 2vh;
  color: white;
  background-color: green;
  border: 10px inset black;
  justify-content: center;
  align-content: center;
  
}
