body {
  background-image: url(../images/background1.jpg);
  height: 90vh;
  font-family: 'MedievalSharp', cursive;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}
.redDeck{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

#playerScore {
  font-size: 26px;
  background-color: white;
  border: 5px inset #774c29;
  opacity: 90%;
  font-weight: bold;
  text-align: center;
}

#computerScore {
  font-size: 26px;
  background-color: white;
  border: 5px inset #774c29;
  opacity: 90%;
  font-weight: bold;
  text-align: center;
}

.container2 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.container3 {
display: flex;
align-items: flex-start;
justify-content: flex-end;
} 

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #202d7a;
}

.card.shadow {
  box-shadow: 7px 7px 7px 5px rgba(41, 41, 41, 0.95) !important;
}

.card.winner {
border-radius: 100%;
border-color: green;
}


.btn {
  margin-top: 2vh;
  color: white;
  background-color: #75472d;
  font-weight: bold;
  border: 5px outset black;
}

.resetBtn {
  margin-top: 2vh;
  color: white;
  background-color: #830101;
  font-weight: bold;
  border: 5px outset black;
  display: flex;
  
}

.audioBtn{
  margin-top: 2vh;
  color: white;
  background-color: rgb(65, 81, 90);
  font-weight: bold;
  border: 5px outset black;
  display: flex;
}

.message{
  display: flex;
  margin-top: 2vh;
  color: black;
  background-color: #72823b;
  border: 2px black solid;
  justify-content: center;
  align-content: center;
  font-weight: bolder;
}

#warReport{
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  background-color:  #cdd6df;
  font-weight: bolder;
  text-align: center;
  opacity: 90%;
  color: #830101;
  font-size: 20px;
}

.card.won{
  border: 0.15em solid green;
}

.resetBtn:hover{
  color: black;
}

.audioBtn:hover{
  color: black;
}

